#aichatbot-container {
    max-width: 650px;
    padding: 12px;
    box-shadow: 0px 0px 10px #dedede;
    border-radius: 10px;
}
.chat-window {
    height: 35vh;
    max-height: 35vh;
    border: solid 1px var(--secondary);
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
}
.chat-controls {
    display: flex !important;
    column-gap: 10px;
}
.ai-chat-message {
    display: block;
    max-width: 70%;
    padding: 12px 13px;
    margin-bottom: 18px;
}
.ai-chat-message.message-chatbot {
    align-self: flex-start;
    border-radius: 0 10px 10px 10px;
}
.ai-chat-message.message-user {
    align-self: flex-end;
    border-radius: 10px 0 10px 10px;
}
#aichatbot-action-buttons {
    max-width: 650px;
    display: flex !important;
    justify-content: center;
    gap: 15px;
    margin-top: 2rem;
}
#aichatbot-action-buttons button, #aichatbot-view-all-button, #aichatbot-new-dialog-button, #aichatbot-manage-dialogs-button {
    width: 300px;
    min-height: 60px;
}
.centered-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
#aichatbot-send-button {
    min-width: fit-content;
}
#aichatbot-table-caption {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

}
#aichatbot-table-caption .container {
    display: flex;
    gap: 15px;
    justify-content: center;
}
#aichatbot-table-legend {
    min-width: fit-content;
}
.aichatbot-share-button.shared {
    background-color: gray;
    color: white;
}
.aichatbot-comment-button:hover {
    cursor: pointer;
}
#public-dialogs-header {
    margin-bottom: 1rem;
}