<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareModalLabel">{{#str}}shareconfirmation, mod_aichatbot{{/str}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{#str}}shareconfirmationtext, mod_aichatbot{{/str}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{#str}}closemodal, mod_aichatbot{{/str}}</button>
        <button id="aichatbot-confirm-share-button" type="button" class="btn btn-dark">{{#str}}confirmationyes, mod_aichatbot{{/str}}</button>
      </div>
    </div>
  </div>
</div>