<div id="public-dialogs-header" class="d-flex justify-content-between align-items-center">
    <h5>{{#str}}publicdialogs, mod_aichatbot{{/str}}</h5>
    <a class="btn btn-outline-dark back-button" href="{{config.wwwroot}}/mod/aichatbot/view.php?id={{cmid}}"><i class="fas fa-arrow-left"></i>&nbsp;&nbsp;{{#str}}backtoactivity, mod_aichatbot{{/str}}</a>
</div>

<table id="conversations-table" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col" class="text-center w-50">{{#str}}firstnamelastname, mod_aichatbot{{/str}}</th>
            <th scope="col" class="text-center">{{#str}}actions, mod_aichatbot{{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#conversations}}
            <tr data-conversation-id={{id}}>
                <td scope="row" class="text-center">{{userfullname}}</td>
                <td scope="row" class="text-center">
                    <a href="{{config.wwwroot}}/mod/aichatbot/preview_dialog.php?action=preview&cid={{id}}&cmid={{cmid}}" class="btn btn-outline-dark aichatbot-preview-button" target="_blank"><i class="fa-regular fa-file-pdf"></i></a>
                    <a href="{{config.wwwroot}}/mod/aichatbot/preview_dialog.php?action=download&cid={{id}}&cmid={{cmid}}" class="btn btn-outline-dark aichatbot-download-button" target="_blank"><i class="fa-solid fa-download"></i></a>
                </td>
            </tr>
        {{/conversations}}
    </tbody>
</table>

<nav>
  <ul id="pagination" class="pagination"></ul>
</nav>

<div id="aichatbot-table-legend">
    <small>
      <i class="fa-regular fa-file-pdf"></i>: {{#str}}preview, mod_aichatbot{{/str}}<br>
      <i class="fa-solid fa-download"></i>: {{#str}}download, mod_aichatbot{{/str}}<br>
    </small>
  </div>